# EDA - Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as px

## 1. Loading and overview of the dataset

In [2]:
df = pd.read_csv("../data/raw/IBM_Stock_1980_2025.csv")

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Adj Factor
0,1980-01-02,15.057361,15.415870,14.937859,14.937859,0.965845,"1,723,808",0.0,0.0,0.064657
1,1980-01-03,14.937859,15.176864,14.639101,15.176864,0.981298,"2,553,495",0.0,0.0,0.064657
2,1980-01-04,15.176864,15.236616,15.057361,15.146989,0.979366,"1,978,195",0.0,0.0,0.064657
3,1980-01-07,15.146989,15.146989,14.967734,15.087237,0.975503,"1,480,718",0.0,0.0,0.064657
4,1980-01-08,15.087237,16.132887,14.967734,16.103010,1.041180,"2,968,130",0.0,0.0,0.064657

In [4]:
df.describe()

,Open,High,Low,Close,Adj Close,Dividends,Stock Splits,Adj Factor
count,11488.000000,11488.000000,11488.000000,11488.000000,11488.000000,11488.000000,11488.000000,11488.000000
mean,86.395437,87.205402,85.627898,86.434003,50.850399,0.009136,0.000440,0.411739
std,59.715942,60.191946,59.273661,59.765258,52.400382,0.100572,0.028146,0.284595
min,9.799235,9.978489,9.709608,9.799235,0.800124,0.000000,0.000000,0.064657
25%,27.605164,27.844168,27.336281,27.605164,2.569202,0.000000,0.000000,0.104355
50%,84.574570,85.468452,83.742832,84.694077,42.765790,0.000000,0.000000,0.504918
75%,132.660133,133.749996,131.791824,132.796360,93.500592,0.000000,0.000000,0.597871
max,294.549988,296.160004,290.359985,294.779999,294.779999,1.680000,2.000000,1.000000